body{
  font-family: Helvetica, Arial;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #00F;
}
a:hover {
  color: #30F;
}
.dialog{
  padding: 5px;
  border: 2px solid black;
  position: absolute;
  width: 400px;
  min-height: 200px;
  left: 208px;
  top: 100px;
  display: none;
  background-color: white;
}

#sidebar{
  position: absolute;
  left: 810px;
  width: 300px;
}

#msg{
  position: absolute;
  top: 570px;
  left: 20px;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  width: 500px;
  display: none;
}

.close-button{
  cursor: pointer;
  float: right;
  color: red;
  font-weight: bold;
}

#inventory{
  overflow-x: hidden;
  height: 300px;
}
#instructions{
}
#shop-sell{
  display: none;
}
.shop-controls{
  margin: 0 auto;
  text-align: center;
}
#dbg-msg{
  position: absolute;
  top: 610px;
  left: 10px;
}
